
@import url(https://fonts.googleapis.com/css?family=Raleway:200,500,700,800);
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

:root{
    --marron : #968c83;
    --marroncito:#d6d2c4;
    --beige: #fff5ea;
    --rosita: #f7dad9;
    --coral: #fe7171;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


.titulo{
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 3px;
    /* text-shadow: 3px 3px 2px rgba(150, 150, 122, 1); */
    color:var(--marron);
    text-transform:uppercase;
}

/* -------------------------------------------------HEADER------------------------------------------------ */

header {
    width: 100%;
    height: 600px;
    background: #c6b497;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(47, 18%, 80%,  0.459), hsla(28, 8%, 55%, 0.664)), url(../img/portada02.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(47, 18%, 80%,  0.459), hsla(28, 8%, 55%, 0.664)), url(../img/portada02.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
    text-decoration-color:var(--coral);
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

/* About us */
main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: var(--coral);
    color: white; 
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* -------------------------------------------------Galeria------------------------------------------------ */


.portafolio{
    background:var(--marroncito);
}

.portafolio .titulo{
    color:white;
    text-shadow: 3px 3px 2px rgba(150, 150, 122, 1);
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* -------------------------------------------------CLIENTES------------------------------------------------ */
.clientes{
    position: relative;
    width: 100%;
    height: 100%;
}
.clientes__carousel{
    position: relative;
}
.clientes__carousel__lista{
    width:70%;
    box-shadow: -1px -1px 24px 7px rgba(77,72,72,0.37);
    -webkit-box-shadow: -1px -1px 24px 7px rgba(77,72,72,0.37);
    -moz-box-shadow: -1px -1px 24px 7px rgba(77,72,72,0.37);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}
.clientes__carousel__lista__elemento{
    display: flex;
    width: 100%;
    padding:50px;
}

.clientes__carousel__lista__elemento img{
    width: 30%;
    border-radius: 50%;
}

.clientes__carousel__lista__elemento h3{
    font-size: 1.8rem;
}

.clientes__carousel__lista__texto{
    text-align: center;
    padding: 20px;
}


/* ----------------------------------------------OVERLAY----------------------------------------------- */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .9);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
}
.overlay.activo{
    display: flex;
}
.overlay img{
    width: 500px;
    height: 300px;
}
.overlay__contenedor{
    position: relative;
}

.overlay #btn-cerrar-popup{
    background: none;
    font-size: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -20px;
    
}

/* ------------------------------------------------SERVICIOS--------------------------------------------- */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
    color:var(--marron);
    background:var(--marroncito);
}

.about-services .titulo{
    color: white;
    text-shadow: 3px 3px 2px rgba(150, 150, 122, 1);
}

.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.servicio-ind{
    width: 30%;
    padding:30px;
    text-align: center;
    border:1px, solid var(--coral);
    background-color:white;
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}
.servicio-ind img{
    width: 80%;
}

.servicio-ind h3{
    margin: 10px 0;
   
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}
/*****************************************************CONTACTO***********************************************************/

.contacto__content{
    display:flex;
}
.contacto_redes{
    width:20%;
    height: 95vh;
    border:dotted 3px var(--marron);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    color:var(--marron);
}

.contacto_redes p{
    font-size:1em;
    margin:10px;
}
 
.contacto_redes i{
    font-size:2.7em;
    margin:25px;
    color:var(--coral);
    text-shadow: -3px 7px 3px rgba(163, 150, 150, 1);
}

.contacto_redes i:hover{
    font-size:2.8em;
}

.contacto_redes .titulo{
    font-size:2.6em;
}

 #contacto_contenedorFormulario {
    border-style:dotted;
    border-width:3px;
    border-color:var(--marron);;
    font-size: 1.05em;
    width:80%;
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
 }
 
 .input {
   position: relative;
   margin: 1em;
   width: calc(50% - 2em);
   height: 80px;
 }
 
 .message {
   width: calc(100% - 2em);
   height: 200px;
 }
 
 textarea {
   border: none;
   resize: none;
 }
 
 .input__field {
   position: absolute;
   margin: 0.8em 0;
   padding: 0.4em;
   width: 100%;
   height: calc(100% - 1.6em);
   border: none;
   border-radius: 0;
   background: transparent;
   font-size: 1em;
   -webkit-appearance: none;/* for box shadows to show on iOS */
 }
 
 .input__field:focus {
   outline: none;
 }
 
 .input__label {
   position: absolute;
   padding: 0 1em;
   margin: 1.2em 0;
   width: 100%;
   height: calc(100% - 2.4em);
   color:var(--marron);
   font-weight: bold;
   font-size: 70.25%;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 
 .input__label-content {
   position: relative;
   display: block;
   padding: 1.5em 0;
   width: 100%;
   -webkit-transition: -webkit-transform 0.3s;
   transition: transform 0.3s;
 }
 
 .input__label::before,
 .input__label:after {
   content: '';
   position: absolute;
   left: 0;
   width: 100%;
   height: 2px;
   background:var(--marron);
   -webkit-transition: -webkit-transform 0.3s;
   transition: transform 0.3s;
 }
 
 .input__label::before {
   top: 0;
 }
 
 .input__label::after {
   bottom: 0;
 }
 
 .input__field:focus + .input__label .input__label-content,
 .input--filled .input__label-content {
   -webkit-transform: translate3d(0, -90%, 0);
   transform: translate3d(0, -90%, 0);
 }
 
 .input__field:focus + .input__label::before,
 .input--filled .input__label::before {
   -webkit-transform: translate3d(0, -0.5em, 0);
   transform: translate3d(0, -0.5em, 0);
 }
 
 .input__field:focus + .input__label::after,
 .input--filled .input__label::after {
   -webkit-transform: translate3d(0, 0.5em, 0);
   transform: translate3d(0, 0.5em, 0);
 }
 
 #send-button {
   width: 200px;
   height: 60px;
   background-color: var(--marron);
   color:var(--beige);
   border: 0;
   font-weight: bold;
   font-size: 70.25%;
   text-transform: uppercase;
   letter-spacing: 4px;
   -webkit-transition: -webkit-transform 0.3s;
   transition: transform 0.3s;
 }
 
 #send-button:hover,
 #send-button:focus {
   outline: 0;
   border-color: var(--marron);
   border-width: 1px;
   border-style:solid;
   background-color:var(--coral);
   color:var(--beige);
   -webkit-transition: -webkit-transform 0.3s;
   transition: transform 0.3s;
 }

 
/*-----------------------------------------------FOOTER------------------------------------------------*/
footer{
    background:var(--marron);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid;
    border-bottom-color:var(--coral);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}


/* -------------------------------------------------MEDIAQUERIES------------------------------------------------ */
@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

/* -------------------------------------------------GALERIA------------------------------------------------ */
    .imagen-port{
        width: 44%;
    }
/* -------------------------------------------------CLIENTES------------------------------------------------ */
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }
/* -------------------------------------------------SERVICIOS------------------------------------------------ */
    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
    /* -------------------------------------------------CONTACTO------------------------------------------------ */
    .contacto__content{
        flex-direction:column-reverse;

    }

    .contacto_redes{
        align-items:center;
        height: auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contacto_redes .titulo{
        display:none;
    }

    .contacto_redes p{
        display:none;
    }
   

    .contacto_redes{
        width:100%;
    }

    #contacto_contenedorFormulario{
        padding:40px;
        width:100%;
    }


     /* Footer */

     .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}
/* -------------------------------------------------MEDIA500PX------------------------------------------------ */
@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    /* .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    } */

}


@media (max-width:360px){

    .contacto{
        display:block;
    }
    .contacto_contenedorFormulario{
        width:100%;
    }

    .contacto_redes{
        width:100%;
        height:auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}